.tab-list-components { 
    .nav-link {
        .icon-close {
            visibility: hidden;
        }
        &.active {
            .icon-close {
                visibility: visible;
            }
        }
        &:hover {
            .icon-close {
                visibility: visible;
            }
        }
    }
}